body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #f1f3f5;
}

div#container {
  width: 960px;
  /* set the width of the wrapper */
  margin: 0 auto;
  /* center the wrapper */
}

/* top navigation bar */
nav.site-nav {
  background-color: #ededed;
  padding: 1px;
}

nav.site-nav ul li {
  display: inline;
  padding: 6px;
  line-height: 27px;
  font-size: 25px;
}

nav.sub-nav ul li {
  display: inline;
  list-style: square;
  line-height: 15px;
}

nav.site-nav ul li a {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: rgb(218, 116, 55);
}

nav ul.resources li {
  list-style: none;
  padding: 2px 1px 3px 1px;
  margin: 3px 0px;
}

nav ul.resources li a {
  text-decoration: none;
}

.hints-section {
  width: 49%;
  float: left;
  box-shadow: 0 6px 8px rgba(85,102,119,.03), 0 1px 1px rgba(85,102,119,.4);
}
.hints-section.right {
  float: right;
}

.hints-section>h3 {
  /* background-color: rgba(117, 95, 181, 0.20); */
  margin: 1px 0;
  white-space: nowrap;
  font-size: 20px;
  line-height: 30px;
}

.hints-section>h3::after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, rgba(117, 95, 181, 0.20), transparent 80%);
}

.table {
  background: white;
  border-collapse: collapse;
  width: 100%;
}
.table thead {
  display: none;
}
.table tbody tr {
  border-bottom: 1px solid #ddd;
}
.table tbody tr:hover {
  background-color: #D6EEEE;
}
.table tbody tr td {
  padding: 5px 9px;
}
table tr td:last-child {
  text-align: right;
}

.foot_notes {
  padding-top: 10px;
  width: 100%;
  clear: both;
  font-size: small;
  font-style: italic;
}
