<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <style>
    nav.site-nav ul li {
      display: inline;
      padding: 6px;
      line-height: 27px;
      font-size: 25px;
    }
    nav.sub-nav ul li {
      display: inline;
      list-style: square;
      line-height: 15px;
    }
    
    nav.site-nav ul li a {
      text-decoration: none;
      color: rgb(218, 116, 55);
    }
  </style>
  <title>{{ page.title }} - Guntaka.io</title>
</head>
<body>

  <header>
    <strong>Home Page</strong>
    {% include nav.html %}
  </header>

  {{content}}

</body>
</html>
